@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');

@font-face {
    font-family: 'CCRickVeitch';
    src: url(../fontes/CCRickVeitch.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}